
.App {
  margin: 20px 28%;
  border: 1px solid black;
  padding: 10px 0;
  border-radius: 5px;
  display: block;
}

.Form--Main > input[type=text], .Form--Main > input[type=password], .Form--Main > textarea {
  width:80%;  
  margin-right:20%;
  margin-left:5px;
  height: 30px;
  border-radius: 5px;
  resize: none;
}

.Form--Title {
  font-weight: 600;
  margin-left: 5px;
}

.Form--Hint {
  font-size: 8px;
  font-style: italic;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 0.75rem;
}

