.App {
  text-align: center;
  width: 100%;
  background-color: rgb(198, 209, 207);
  height: 100vh;
}

.Header {
  color: white;
  background-color: blue;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
}

.CardContainer {
  margin: 20px auto;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Card--Img{
  height: 200px;
  object-fit: cover;
}

.Header--Refresh {
  margin-left: auto;
  margin-right: 20px;
  background-color: green;
  color: white;
  border-radius: 5px;
  height: 30px;
}
